<!DOCTYPE html>
<html>
<head>
    <style>
    #table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#table tr:{background-color: #f2f2f2;}

#table tr:hover {background-color: #000000;}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

body{
    background-color:#2c3335;
    color:#f5f5f5;
    text-align:center;
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

.searchbutton{
	background-color:#ffdd00;
	border-radius:5px/5px;
	-webkit-border-radius:5px/5px;
	-moz-border-radius:5px/5px;
	color:#333;
	display:inline-block;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size:14px;
	font-weight:bold;
	width:100px;
	text-align:center;
	line-height:30px;
	text-decoration:none;
	height:30px;
	margin-top:5px;
	margin-bottom:5px;
	border:none;
	outline:0;
	cursor: pointer;
}

.searchbutton:active {
	position:relative;
	top:1px;
}

.searchbutton:hover{
	background-color:#e5bf05;
}
</style>        
    <script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
	<title>
		Search Results
	</title>
</head>
    <body>
        <a href = '/'><img src = 'home.png'></a>
        <p>The Search Results for your keyword '<%=tvalue %>' are:</p>
        <br><br>
    <table id="table" >  
        <thead>  
            <tr>  
                <th>  <center>Name </th>  </center>
                <th><center>Address </th></center>
                <th><center>Email-ID </th>  </center>
                <th> <center>Mobile_No</center> </th>  
                <th> <center>Contact </center></th>
            </tr>  
        </thead>  
         <tbody> <% for(var i = 0;i<loadResults.length;i++) {%>
                      <tr>  
                <td><%= loadResults[i].name %></td>  
                <td><%= loadResults[i].address %></td>
                <td><%= loadResults[i].email_id %></td>
                <td><%= loadResults[i].mobile_no %></td>
                <td><form id="sendquery" method="post" action="/query">
                    <input type = "hidden" name = "id" value = <%= loadResults[i].id %>/>
                    <center><input type="submit" class="searchbutton" value="Contact" /></center>
                    
                    </form>
                    </td>    
            </tr>
            <% } %>
         </tbody>
    </table>   
    </body>
</html>