<!DOCTYPE html>
<html>
<head>
    <style>
    #table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#table tr:{background-color: #f2f2f2;}

#table tr:hover {background-color: #000000;}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

body{
    background-color:#2c3335;
    color:#f5f5f5;
    text-align:center;
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

</style>        
    <script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
	<title>
		Search Results
	</title>
</head>
    <body>
        <p>The Search Results for your keyword '<%=tvalue %>' are:</p>
        <br><br>
    <table id="table" >  
        <thead>  
            <tr>  
                <th> Name </th>  
                <th> Address </th>
                <th> Email-ID </th>  
                <th> Mobile_No </th>  
                <th> Contact</th>
            </tr>  
        </thead>  
         <tbody> <% for(var i = 0;i<loadResults.length;i++) {%>
                      <tr>  
                <td><%= loadResults[i].name %></td>  
                <td><%= loadResults[i].address %></td>
                <td><%= loadResults[i].email_id %></td>
                <td><%= loadResults[i].mobile_no %></td>
                <td><form method="post" action="/query">
                    <input type="radio" name= <%=loadResults[i].id %>  value="Contact" />
                    </form>
                    </td>    
            </tr>
            <% } %>
         </tbody>
    </table>   
    </body>
</html>